/build
Makefile
/test/pstsdk_test
/test/leah_thumper.jpg
/test/*.o
/test/fairport.exe
*~
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.vcxproj*
Debug
Release
/ipch
/pstsdk.opensdf
/pstsdk.sdf
/pstsdk.sln
/pstsdk.suo
Testing
CTestTestfile.cmake
/doc/html
/samples/pstvalues/values.h
